{% extends "base.html" %}

{% block title %} S3 {% endblock %}


{% block content%}
<br />

<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
            Create Bucket
        </button>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Bucket</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/s3/create_bucket">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-outline">
                            <input type="text" id="bucket-name" name="name" value="" class="form-control" />
                            <label class="form-label" for="bucket-name" name="bucket-name">Bucket Name</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-outline">
                        <input type="text" id="bucket-region" name="region" value="" class="form-control" />
                        <label class="form-label" for="bucket-name" name="region">Bucket Region</label>
                    </div>

                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>



    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bucket Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for name in buckets%}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ name }}</td>
                <td>
                    <a href="/s3/list_ojects/{{ name }}"> visit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}