{% extends "base.html" %}

{% block title %} S3 {% endblock %}


{% block content%}

    <form method="post" enctype="multipart/form-data" action="/s3/upload">
        <div class="form-outline">
            <input type="text" id="form12" name="file_name" class="form-control" />
            <label class="form-label" for="form12" name="file_name">Example label</label>
        </div>

        <label class="form-label" for="s3-file">Upload File</label>
        <input type="file" class="form-control" id="s3-file"  name="s3-file"/>
        <br/>
        <div class="col-4 text-center">
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>

        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bucket Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for name in buckets%}
            <tr>
                <th scope="row">1</th>
                <td>{{ name }}</td>
                <td>TODO</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}