{% extends "base.html" %}

{% block title %} objects {% endblock %}


{% block content%}

<br />
<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
            Upload File
        </button>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Upload File</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data" action="/s3/uploads3">
            <div class="modal-body">
                        <div class="form-outline">
                            <input type="text" id="bucket-name" name="bucket_name" value="{{ bucket_name }}" class="form-control" />
                            <label class="form-label" for="bucket-name" name="bucket-name" >Bucket Name</label>
                        </div>
                        <label class="form-label" for="s3-file">Upload File</label>
                        <input type="file" class="form-control" id="s3-file" name="s3-file" />
                        <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
            </form>
        </div>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Object Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for name in objects%}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ name }}</td>
            <td>
                <a href="/s3/download_object?bucket_name={{ bucket_name }}&file_name={{ name }}"> download</a>
                <a href="/s3/presigned_uri?bucket_name={{ bucket_name }}&file_name={{ name }}"> Get URI</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block script%}

<script type="text/javascript">

    function getUri(bucket_name, file_name){
        console.log("getUri calling", bucket_name, file_name);
        $.getJSON("/s3/presigned_uri?bucket_name="+bucket_name+"&file_name="+file_name,function(response){
                console.log("response"); 
                console.log(response);   
        });
    }
</script>

{% endblock %}